.container {
  max-width: 50rem;
  width: 100%;
  background: #f0f0f0;
  margin: 2rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 1px #ddd;
}
.title {
  font-weight: 700;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  line-height: 3.6rem;
}
.button {
  border: 1px solid grey;
  background: lightgrey;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  float: right;
  font-weight: 500;
  line-height: 2.4rem;
  min-width: 5rem;
  margin-top: 0.4rem;
  cursor: pointer;
  user-select: none;
}
.edit-button {
  border-color: blue;
  background-color: lightblue;
}
.save-button {
  border-color: green;
  background-color: lightgreen;
}
.content {
  padding: 1rem;
}
